@media (max-width: 720px) {
    .primeira-area-ola, .segunda-area-pq, .quarta-area-contatos {
        width: 85%;
    }

    .ola {
        margin-bottom: 0;
        font-size: 1.2em;
    }

    .subtitulo-desenvolvedora {
        margin: 0;
    }

    .texto-principal {
        font-size: 0.9rem;
        margin-bottom: 4%;
    }


    button {
        width: 50%;
        box-shadow: 2px 2px 5px #9b9b9b;
        font-size: 0.8em;
    }

    .foto {
        width: 50%;
        margin-top: 10%;
        border-width: 4px;
    }

    h4 {
        font-size: 1.5em;
        margin-bottom: 1%;
    }

    .texto-porque {
        font-size: 0.9rem;
    }

    h5 {
        margin-top: 5%;
        font-size: 0.9rem;
    }

    .porcentagem-escrita {
        margin: 0 0 1% 0;
        font-size: 0.9rem;
    }

    .parte-retangular {
        height: 14px;
        width: 3px;
        border-style: solid;
        border-width: 2px;
    }

    .altura-porcentagens-mobile {
        height: 10px;
    }

    .graphic-web, .ui-front {
        display: flex;
        flex-direction: column;
    }

    .conteudo-terceira-area {
        width: 90%;
    }

    .imagem-titulo-projetos {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    h6 {
        margin: 0 0 0 4%;
        font-size: 1.2em;
    }

    .imagens-projetos {
        margin: 0;
        width: 3em;
        height: 3em;
    }

    .icones-projetos {
        width: 1.8em;
        height: 1.8em;
    }

    .textos-projetos {
        font-size: 0.9em;
    }

    .contatos-titulo {
        margin-top: 4%;
    }

    .fundo-verde-contato {
        margin: 8% 0;
        padding: 2% 5%;
    }

    .lista-contatos {
        font-size: 0.9em;
        padding-left: 0;
    }
}